/* ********* */
/* @TYPOGRAPHY */
/* ********* */




@font-face {
    font-family: 'Lustria';
    src: url('../../../public/assets/font/Lustria.woff2') format('woff2'),
         url('../../../public/assets/font/Lustria.woff') format('woff'),
         url('../../../public/assets/font/Lustria.ttf')  format('truetype');
  }


  h1{
    font-family: $fuenteTexto;
    font-size: $tamano_movil_h1;
    color: $color_texto;
  }
  h2{
    font-family: $fuenteTexto;
    font-size: $tamano_movil_h2;
    color: $color_texto;
    margin-bottom: 45px;
  }
  h3{
    font-family: $fuenteTexto;
    font-size: $tamano_movil_h3;
    color: $color_texto;
  }

