/* ********* */
/* @VARIABLES */
/* ********* */

/* COLORES */
$color_fondo: #6D83F3;
$color_secundario: #392BF5;
$color_inputs: #D7D9EE;
$color_texto: #EFF0F9;

/* TEXTO */

$tamano_movil_h1: 30px;
$tamano_movil_h2: 22px;
$tamano_movil_h3: 18px;

/* TIPOGRAFIAS */

$fuenteTexto: 'Lustria', serif;

/* LOGO MOVIL */

$logo_movil_width: 90px;
$logo_movil_height: 90px;

/* BOTON MOVIL */

$boton_movil_width: 155px;
$boton_movil_height: 60px;
$boton_movil_borderRadius: 1.875rem;

/* ICONOS NAV MOVIL */

$iconos_nav_width: 3.125rem;
$iconos_nav_height: 3.125rem;

/* INPUTS MOVIL */

$inputs_movil_width: 17.5rem;
$inputs_movil_width: 3.75rem;
$inputPequeno_Movil_width: 8rem;

/* FOOTER MOVIL */

$footer_movil_iconoWidth: 3rem;
$footer_movil_iconoHeight: 3rem;
$footer_lineaMovil: 14rem;
