/* ********* */
/* @INDEX */
/* ********* */

.containerIndex{
    background-color: $color_fondo;
    box-sizing: border-box;
    padding: 0 5%;
    text-align: center;
}

body{
    background-color: $color_fondo;
}

    /* HEADER INDEX */
.headerIndex{
    display: flex;
    box-sizing: border-box;
    padding: 30px 15%;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    color: $color_texto;
}

.logoIndex{
    height: 60px;
    width: 60px;
}

    /* SECCION CATEGORIAS MUSICALES */
.categorias{
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
    background-color: $color_texto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    grid-gap: 30px;
}

.categoriaMusical{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lustria";
    color: white;
}
.categoriaMusical1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Blues_Movil.webp");
  
}
.categoriaMusical2{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Clasica_Movil.webp");
}
.categoriaMusical3{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Electronica_movil.webp");
}
.categoriaMusical4{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Flamenco_Movil.webp");
}
.categoriaMusical5{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Jazz_Movil.webp");
}
.categoriaMusical6{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Metal_Movil.webp");
}
.categoriaMusical7{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Pop_Movil.webp");
}
.categoriaMusical8{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Rap_Movil.webp");
}
.categoriaMusical9{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Reggaeton_Movil.webp");
}
.categoriaMusical10{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Rock_Movil.webp");
}
.categoriaMusical11{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Soul_Movil.webp");
}
.categoriaMusical12{
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/smartphone/Country_Movil.webp");
}

    /* SECCION GUSTOS MUSICALES */
.gustosMusicales{
    margin-top: 15px;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $color_fondo2;
}

.tarjetaGustos{
    background-color: white;
    padding: 20px 23px 5px 24px;
}

.imagenGustos{
    height: 210px;
    width: 200px;
    background-image: url("../assets/img/smartphone/GustosMusicales_movil.webp");
}

.reproductor{
    height: 73px;
    width: 247px;
    background-image: url("../assets/img/smartphone/Reproductor_Movil.webp");
}

.shadowTarjetaGustos{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textoGustos{
    margin-top: 30px;
    color: $color_texto;
    font-size: 16px;
    font-family: "lustria";
    text-align: justify;
}

/* SECCION ARTISTAS DESTACADOS */

.artistas{
    background-color: $color_secundario;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px 0;
}

 .sliderArtistas{
    height: 230px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
} 

.tarjetaArtista{
    background-color: $color_secundario;
    width: 115px;
    height: 220px;
    position: relative;
    scroll-snap-align: center;
    margin-left: 40%;   
}
.tarjetaArtistaFinal{
    margin-right: 40%;
}

.imagenArtista{
    width: 115px;
    height: 156px;
}


.imagenArtista1{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}
.imagenArtista2{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}
.imagenArtista3{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}
.imagenArtista4{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}
.imagenArtista5{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}
.imagenArtista6{
    background-image: url("../assets/img/smartphone/Artista.jpg");
}

.textoArtista{
    color: $color_texto;
    font-family: "lustria";
    margin-top: 20px;
}

/* FOOTER MOVIL */

.footerIndex{
    width: 100%;
    background-color: $color_texto;
    color: $color_fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.iconosFooter{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-top: 15px;
}

.lineaFooter{
    height: 1.75px;
    background-color: $color_fondo;
    width: 60%;
}

.telefonoFooter{
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
}