/* ********* */
/* @INDEX */
/* ********* */

.containerIndex{
    background-color: $color_fondo;
    box-sizing: border-box;
    padding: 0 5%;
    text-align: center;
}

.headerIndex{
    display: flex;
    box-sizing: border-box;
    padding: 0 15%;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    color: $color_texto;
}


.logoIndex{
    height: 60px;
    width: 60px;
}

.categorias{
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
    background-color: $color_texto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    grid-gap: 30px;
}

.categoriaMusical{
    height: 100%;
    width: 100%;
    background-color: red;
}

.gustosMusicales{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarjetaGustos{
    background-color: white;
    padding: 20px 23px 5px 24px;
}

.imagenGustos{
    height: 210px;
    width: 200px;
    background-image: url("../assets/img/smartphone/GustosMusicales_movil.webp");
}

.reproductor{
    height: 73px;
    width: 247px;
    background-image: url("../assets/img/smartphone/Reproductor_Movil.webp");
}