/* ********* */
/* @INDEX */
/* ********* */

.containerIndex{
    background-color: $color_fondo;
    box-sizing: border-box;
    padding: 0 5%;
    text-align: center;
}

.headerIndex{
    display: flex;
    box-sizing: border-box;
    padding: 0 15%;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    color: $color_texto;
}


.logoIndex{
    height: 60px;
    width: 60px;
}

.categorias{
    width: 100%;
    box-sizing: border-box;
    padding: 5% 5% 5% 8%;
    background-color: $color_texto;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    grid-gap: 30px;
}

.categoriaMusical{
    height: 90px;
    width: 130px;
    background-color: red;
}