/* ********* */
/* @REGISTRO */
/* ********* */

.containerRegistro{
    background-color: $color_fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20% 5%;
    height: 100vh;
    color: $color_texto;
    
}

input{
height: 60px;
width: 280px;
border-radius: 30px;
background-color: #D7D9EE;
border: none;
outline: none;
color: $color_fondo;
padding: 0 25px;
font-size: 18px;
font-family: "lustria";
width: 80%;
}

input::placeholder{
    color: $color_fondo;
    font-size: 18px;
    font-family: "lustria";
}

.inputsRegistro{
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.inputMini{
    width: 45%;
    box-sizing: border-box;
}

.botonRegistro{
    height: 60px;
    width: 170px;
    background-color: $color_secundario;
    border-radius: 30px;
    color: $color_texto;
    border: none;
    font-family: "lustria";
}

.containerRegistro > a{
    color: $color_texto;
    font-family: "lustria";
}
.containerRegistro > p{
    color: $color_texto;
    font-family: "lustria";
}
.containerRegistro > p > a{
    color: $color_texto;
    font-family: "lustria";
}